.sidebar {
    flex: 1;
    border-right: 1px solid white;
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border-radius: 10px;
    margin-left: 12px;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        .addGroupChat {
            
            // padding: 2px 14px;
            border: 1px solid transparent;
            background-color: transparent;
            

            .addGroupChatIcon {
                font-size: 24px;
            }
        }

        .chatsTitle {
            padding-left: 10px;
            font-size: 16px;
            color: #000;
            font-weight: bold;
        }
    }


}